/* The following block can be included in a custom.scss */

/* make the customizations */
$primary: #fa6353;
$display-font-weight: 700;
$popover-arrow-width: 0px;
$popover-arrow-height: 0px;

$border-radius-sm: 0.25rem;
$border-radius: 0.5rem;
$border-radius-lg: 1rem;

$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .03);

$accordion-border-radius: $border-radius-lg;

  /* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";